<section class="layout--entitywithimg content-container grid">
    <div class="entitywithimg__left">
        <divclass="entitywithimg__header">
        <div class="entitywithimg__entity-name">{{ content.entity_name }}</div>
        <div class="entitywithimg__title">{{ content.title }}</div>
        <div class="entitywithimg__document-identifier">{{ content.document_identifier }}</div>
    </div>
    <div class="entitywithimg__img">{{ content.img }}</div>s
    <div class="entitywithimg__right">
        <div class="entitywithimg__data">{{ content.data }}</div>
        <div class="entitywithimg__datagroup">{{ content.datagroup }}</div>
    </div>
</section>