<section class="layout--withoutimg content-container">
  <div class="withoutimg__entity-name">{{ content.entity_name }}</div>
  <div class="withoutimg__title">{{ content.title }}</div>
  <div class="withoutimg__document-identifier">{{ content.document_identifier }}</div>
  <div class="withoutimg__lifedata">{{ content.lifedata }}</div>
  <div class="withoutimg__data">{{ content.data }}</div>
  <div class="withoutimg__datagroup">{{ content.datagroup }}</div>
</section>