<section class="layout--entitybz layout--entity content-container grid">
    <div class="entity__left">
        <div class="entity__header">
            <div class="entity__entity-name">{{ content.entity_name }}</div>
            <h1 class="entity__title">{{ content.title }}</h1>
            <div class="entity__document-identifier">{{ content.document_identifier }}</div>
        </div>
        <div class="entity__img">{{ content.img }}</div>
    </div>
    <div class="entity__divider"></div>
    <div class="entity__right">
        <div class="entity__data">{{ content.data }}</div>
        <div class="entity__datagroup">{{ content.datagroup }}</div>
    </div>
</section>