<section class="layout--aboutus content-container">
<div class="aboutus__intro-wrapper grid">
  <div class="aboutus__intro-txt">
      <h1 class="aboutus__headline">{{ content.field_aboutus_pagetitle[0] }}</h1>
      <div class="aboutus__intro">{{ content.introtxt }}</div>
  </div>
    <div class="aboutus__image">{{ content.img }}</div>
</div>
  <div class="aboutus__wrapper">
    <div class="aboutus__accordions">{{ content.accordions }}</div>
    <div class="aboutus__persons">{{ content.persons }}</div>
    <p class="h6">Ehemalige Teammitglieder</p>
    <div class="aboutus__persons_gone">{{ content.persons_gone }}</div>
  </div>
</section>
